$def with (post)

<html>
<title>I Hack Everything</title>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Michroma|Gafata|Fanwood+Text|Faster+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<center>
			<div id='header'>
			<b><h1><a href='/'><font face='Faster One'>I Hack Everything</font></a></h1></b>
			<h4><em>hack ~ a clever solution to a tricky problem.</em></h4>
			</div>
		</center>
	</head>
<body>
	<div id='wrap'>
		<div id='main'>
			$:post
		</div>
	</div>
</body>
</html>
